/** biome-ignore-all lint/correctness/noUnknownProperty: <biomeが@plugin構文をサポートしていなかったため> */
@import "tailwindcss";

@theme {
	--color-red-hero: #e50914;
	--color-silver-hero: #e3e7ee;
	--color-ancient-hero: #3d2b5c;
	--color-blue-hero: #4a90e2;
}

@plugin "daisyui" {
	themes: garden, sunset;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
